<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 配置@controller扫描包 -->
	<context:component-scan base-package="live.leer.springmvc.controller" />
	
	
	<!-- 配置注解驱动，相当于同时使用最新处理器映射跟处理器适配器,对json数据响应提供支持 -->
	<!-- 使用自定义转换器 -->
	<mvc:annotation-driven conversion-service="MyConvert"/>
	
	<!-- 定义转换器 -->
	<bean id="MyConvert" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="live.leer.springmvc.utils.DateConvert"></bean>
			</set>
		</property>
	</bean>
	
	<!-- 配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!-- 配置全局异常处理器 -->
	<bean class="live.leer.springmvc.exception.CustomerExceptionResolver"></bean>
	
	<!-- 配置多媒体处理器 -->
	<!-- 注意：这里id必须填写：multipartResolver -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 最大上传文件大小 -->
		<property name="maxUploadSize" value="8388608" />
	</bean>
	
	<mvc:interceptors>
		<mvc:interceptor>
		<!-- /** 拦截所有请求包括二级以上目录 -->
			<mvc:mapping path="/**"/>
			<bean class="live.leer.springmvc.interceptor.MyInterceptor"></bean>
		</mvc:interceptor>
		
		<mvc:interceptor>
		<!-- /** 拦截所有请求包括二级以上目录 -->
			<mvc:mapping path="/**"/>
			<!-- 配置不拦截目录 -->
			<mvc:exclude-mapping path="/user/**"/>
			<bean class="live.leer.springmvc.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>
